* {
    box-sizing: border-box;
}

html {
    background-color: #EEAA7B;
    font-size: 18px;
}

body {
    margin: 2rem auto;
    color: #434363;
    width: 80vw;
}

a {
    border-bottom: 1px dotted blue;
    text-decoration: none;
    color: blue;
}

li {
    list-style-type: none;
}

li.current {
    color:red;
}

label {
    display: block;
}

input[type='submit'] {
    display: block;
}

nav {
  position: absolute;
  right: 1em;
  top: 1em;
}

.add_task {
  text-decoration: underline;
  color: blue;
  font-size: 1em;
  text-align: center;
}

h1 {
  color: #EEAA7B;
  text-align: center;
}

header {
  background-color: #07889B;
}

footer {
  color: #EEAA7B;
  background-color: #07889B;
  text-align: center;
}

.add_form {
  text-align: center;
}
