* {
    box-sizing: border-box;
}

html {
    background-color: white;
    font-size: 18px;
}

body {
    margin: 2rem auto;
    width: 80vw;
}

a {
    border-bottom: 1px dotted blue;
    text-decoration: none;
    color: blue;
}

li {
    list-style-type: none;
}

li.current {
    color:red;
}

label {
    display: block;
}

nav {
  position: absolute;
  right: 1em;
  top: 1em;
}

.add_task {
  text-decoration: underline;
  color: blue;
  font-size: 1em;
  text-align: center;
}

h1 {
  color: white;
  text-align: center;
}

header {
  width: 100;
  background-color: #07889B;
}

footer {
  color: black;
  text-align: center;
}

.add_form {
  text-align: center;
}

input {
  position: absolute;
  center: 1em;
}

.sub {
  border: none;
  resize: none;
  border-bottom: 3px solid #3498DB;
  background: #fff;
  color: #4D5656;
  font-size: 1.3rem;
  border-radius: 2px;
}

