* {
    box-sizing: border-box;
}

html {
    background-color: #EFEFEF;
    font-size: 18px;
}

body {
    margin: 2rem auto;
    width: 80vw;
}

a {
    border-bottom: 1px dotted blue;
    text-decoration: none;
    color: blue;
}

li {
    border-color: #FF3B3F;
    border-style: inset;
    border-top-width: 0px;
    border-bottom-width: 5px;
    border-left-width: 5px;
    background: #EFEFEF;
    list-style-type: none;
}

li.current {
    color:red;
}

label {
    display: block;
}

nav {
  position: absolute;
  right: 1em;
  top: 1em;
}

.add_task {
  color: #880000 ;
  font-size: 1em;
  text-align: center;
}

h1 {
    border-bottom-style: groove;
    border-bottom-color: #FF3B3F;
    border-bottom-width: 20px;
    color: #FF3B3F;
    text-align: center;
    font-size: 4em;
    font-family: cursive;
}

header {
  width: 100;
}

footer {
  color: black;
  text-align: center;
}

h2 {
  color: black;
  text-align: center;
}

h3 {
  margin: 0;
  text-align: center;
}

h4 {
  text-align: center;
}

.add_form {
  text-align: center;
}

.sub {
  border: none;
  resize: none;
  border-bottom: 3px solid #3498DB;
  background: #fff;
  color: #880000;
  font-size: 1.3rem;
  border-radius: 2px;
}

.paper {
  background: black;
  padding: 30px;
  position: relative;
}

.paper,
.paper::before,
.paper::after {
  /* Styles to distinguish sheets from one another */
  box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
  border: 1px solid #bbb;
}

.paper::before,
.paper::after {
  content: "";
  position: absolute;
  height: 95%;
  width: 99%;
  background-color: #FF3B3F;
}

.paper::before {
  right: 15px;
  top: 0;
  transform: rotate(-1deg);
  z-index: -1;
}

.paper::after {
  top: 5px;
  right: -5px;
  transform: rotate(1deg);
  z-index: -2;
}
