{% extends "layouts/base.html" %}

{% block title %}Todo App Homepage{% endblock %}

{% block content  %}
<h2>These are your Tasks.</h2>
{% for items in tasks %}
  <h3>'{{items.task}}' - completed? {{items.completed}}</h3>
  <p>created date -  {{items.task_timestamp}}</p>

  <section class="filters">
    <span>Show:</span>
    <a href="/todo" {% if not filter_option %}class="selected"{% endif %}>All</a>
    <a href="/todo?filter=active" {% if filter_option == 'active' %}class="selected"{% endif %}>Active</a>
    <a href="/todo?filter=completed" {% if filter_option == 'completed' %}class="selected"{% endif %}>Completed</a>
  </section>
  
{% endfor %}
  <form class="add_form" action="/todo/create" method="POST">
    <input class="add_task" type="submit" value="Add a New Task.">
  </form>
{% endblock %}

