{% extends "layouts/base.html" %}

{% block title %}Calculate{% endblock %}

{% block content %}
<p>Calculator:</p>

<form method="post">
  <label>
    x:
    <input type="number" value="{{ x }}" name="x" id="x"/>
  </label> 

    <label>
    y:
    <input type="number" value="{{ y }}" name="y" id="y"/>
  </label>

  <label>
    <input type="radio" value="Add" name="action" {% if action == "Add" %}checked{% endif %} id="add"/>Add
  </label>

  <label>
    <input type="radio" value="Subtract" name="action" {% if action == "Subtract" %}checked{% endif %} id="subtract"/>Subtract
  </label>

  <label>
    <input type="radio" value="Multiply" name="action" {% if action == "Multiply" %}checked{% endif %} id="multiply"/>Multiply
  </label>

  <label>
    <input type="radio" value="Divide" name="action" {% if action == "Divide" %}checked{% endif %} id="divide"/>Divide
  </label>

  <label>
    <input type="submit" value="C" name="" id="" />
  </label>

</form>

{% if result %}
<p class="result">The answer is: {{ result }}</p>
{% endif %}

{% endblock %}

